<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center">
      List
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <div class="kotak">
    <ion-item class="item-thumnail-left">
        <div class="tokyo">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91nV-lt6H7L._SL1500_.jpg">
        </div>
      <ion-label>Tokyo Ghoul</ion-label>
    </ion-item>
    </div>

    <div class="kotak">
    <ion-item class="item-thumnail-left">
        <div class="tokyo">
          <img src="https://m.media-amazon.com/images/M/MV5BMzQxMzE5NzM2NV5BMl5BanBnXkFtZTgwMDQ4NTUyNzE@._V1_UY268_CR2,0,182,268_AL_.jpg">
        </div>
      <ion-label>One Punch Man</ion-label>
    </ion-item>
  </div>

  <div class="kotak">
    <ion-item class="item-thumnail-left">
        <div class="tokyo">
          <img src="https://upload.wikimedia.org/wikipedia/id/thumb/0/0b/Your_Name_poster.png/220px-Your_Name_poster.png">
        </div>
      <ion-label>Kimi No Nawa</ion-label>
    </ion-item>
  </div>

    <div class="kotak">
    <ion-item class="item-thumnail-left">
        <div class="tokyo">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/61/One_Piece_Season_20_Poster_Wano.png/220px-One_Piece_Season_20_Poster_Wano.png">
        </div>
      <ion-label>One Piece</ion-label>
    </ion-item>
  </div>

    <div class="kotak">
    <ion-item class="item-thumnail-left">
        <div class="tokyo">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/63/Sengoku_Basara_DVD_cover.jpg/230px-Sengoku_Basara_DVD_cover.jpg">
        </div>
      <ion-label>Sengoku Basara</ion-label>
    </ion-item>
  </div>
  </ion-list>
</ion-content>

